
<ul>
<% @bookmarks.each do |bookmark| %>
 <li class="bookmark" id="bookmark-<%= bookmark[0] %>">
  <li><a href=<%=bookmark[2]%> target="_blank"><%=bookmark[1]%></a>
  <form action=" bookmarks/<%=bookmark[0]%>" method = "post">
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete">
  </form></li>
  <%end%>
</ul>